.market-container {
  color: white;
  background-color: #1c1e22;
  padding: 20px;
  border-radius: 5px;
  display: flex; /* Updated to use flexbox */
  justify-content: space-between; /* Space between the list and chart */
  gap: 20px; /* Adjust gap between list and chart */
}

.market-list-container {
  width: 50%; /* Adjust this as needed to fit the content */
}

.chart-container {
  width: 50%; /* Adjust this as needed to fit the content */
}

/* The rest of your existing CSS... */

.crypto-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cryptoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #2a2d34;
  border-radius: 5px;
}

.cryptoName {
  font-weight: bold;
}

.cryptoPrice {
  font-weight: lighter;
}
